<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="~/user/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/user/assets/css/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/user/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/user/assets/css/nice-select.css">

    <link rel="stylesheet" href="~/user/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/user/assets/css/jquery.fancybox.min.css">
    <link href="~/user/assets/css/boxicons.min.css" rel="stylesheet">
    <link href="~/user/assets/css/gallery.css" rel="stylesheet">
    <link rel="stylesheet" href="~/user/assets/css/artists.css">
    <link rel="stylesheet" href="~/user/assets/css/contact.css">
    <link rel="stylesheet" href="~/user/assets/css/login.css">
    <link rel="stylesheet" href="~/user/assets/css/signup.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="~/user/assets/css/style.css">
    <title>Artmart </title>
    <link rel="icon" href="~/user/assets/img/fav-icon.svg" type="image/gif" sizes="20x20">
</head>

<body id="body">


    <div class="tt-style-switch  d-none">
        <span style="display: none;" class="dark"></span>
        <span style="display: none;" class="light"></span>
    </div>
    <!-- scroll top start -->
    <div class="circle-container">
        <svg class="circle-progress svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                  style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919; stroke-dashoffset: 256.939;">
            </path>
        </svg>
    </div>
    <!-- scroll top end -->
    <!-- Header Start -->
    <div class="topbar">
        <div class="container">
            <div class="topbar-wrap">
                <div class="header-logo">
                    <a href="index-2.html">
                        <img alt="image" class="img-fluid light" src="~/user/assets/img/header-logo.svg">
                        <img alt="image" class="img-fluid dark" src="~/user/assets/img/header-logo-white.svg">
                    </a>
                </div>
                <div class="search-area">
                    <form>
                        <div class="form-inner">
                            <input type="text" placeholder="Search your product here">
                            <button type="submit">
                                <svg width="17" height="17" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.20349 0.448242C5.41514 0.45124 3.70089 1.16299 2.43633 2.42755C1.17178 3.6921 0.460029 5.40635 0.457031 7.1947C0.458526 8.98456 1.16943 10.7008 2.43399 11.9675C3.69855 13.2342 5.41364 13.948 7.20349 13.9525C8.79089 13.9525 10.2536 13.3941 11.4101 12.47L15.0578 16.1179C15.2002 16.2503 15.3882 16.3223 15.5825 16.3189C15.7768 16.3155 15.9622 16.2369 16.0998 16.0997C16.2374 15.9625 16.3165 15.7773 16.3204 15.583C16.3243 15.3887 16.2528 15.2005 16.1208 15.0578L12.4731 11.407C13.4325 10.2138 13.9556 8.72863 13.9556 7.19753C13.9556 3.47848 10.9225 0.448242 7.20349 0.448242ZM7.20349 1.9506C10.1118 1.9506 12.4533 4.28919 12.4533 7.1947C12.4533 10.1002 10.1118 12.453 7.20349 12.453C4.29514 12.453 1.95656 10.1087 1.95656 7.20037C1.95656 4.29202 4.29514 1.9506 7.20349 1.9506Z" />
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>

                <div class="topbar-right">
                    <a id="topbar-cart" role="button">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span>Cart</span>
                            <strong></strong>
                        </a>
                    </div>

                
                <div class="topbar-right">
                    <a asp-controller="Home" asp-action="Login" class="header-btn btn-hover">
                        <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <path d="M7.7479 6.74386C8.67435 6.74386 9.47651 6.41155 10.1321 5.75593C10.7875 5.10045 11.1199 4.2984 11.1199 3.37183C11.1199 2.44554 10.7876 1.64341 10.132 0.987682C9.4764 0.332281 8.67425 0 7.7479 0C6.8213 0 6.01923 0.332281 5.36374 0.987791C4.70826 1.6433 4.37584 2.44546 4.37584 3.37183C4.37584 4.2984 4.70823 5.10056 5.36377 5.75607C6.01947 6.41147 6.82163 6.74386 7.74787 6.74386H7.7479ZM5.94395 1.56789C6.44691 1.0649 7.03696 0.82042 7.7479 0.82042C8.45872 0.82042 9.04885 1.0649 9.55192 1.56789C10.0549 2.07096 10.2995 2.66109 10.2995 3.37181C10.2995 4.08274 10.0549 4.67279 9.55192 5.17586C9.04885 5.67896 8.45872 5.92344 7.7479 5.92344C7.03715 5.92344 6.44716 5.67885 5.94395 5.17586C5.44085 4.6729 5.19626 4.08277 5.19626 3.37183C5.19626 2.66109 5.44085 2.07096 5.94395 1.56789ZM13.648 10.7653C13.6291 10.4925 13.5909 10.1949 13.5346 9.8807C13.4778 9.56409 13.4046 9.26481 13.317 8.99126C13.2265 8.70853 13.1035 8.42935 12.9513 8.16177C12.7935 7.88406 12.6081 7.64223 12.4 7.44325C12.1825 7.23509 11.9161 7.06772 11.608 6.9456C11.3011 6.82419 10.9609 6.76267 10.597 6.76267C10.454 6.76267 10.3159 6.8213 10.0489 6.99509C9.85918 7.11864 9.66888 7.24133 9.47801 7.36314C9.29462 7.48 9.04617 7.58949 8.7393 7.68861C8.43991 7.78549 8.13593 7.83462 7.83578 7.83462C7.53587 7.83462 7.23186 7.78549 6.93226 7.68861C6.62574 7.58957 6.37718 7.48011 6.19409 7.36325C5.98163 7.22749 5.7894 7.10359 5.62266 6.99495C5.35595 6.82119 5.21773 6.76253 5.07483 6.76253C4.7108 6.76253 4.37073 6.82417 4.06385 6.94574C3.75602 7.06761 3.48952 7.23498 3.27173 7.44336C3.06367 7.64245 2.87826 7.88414 2.72059 8.16177C2.56862 8.42932 2.44557 8.70842 2.35498 8.99137C2.26748 9.26492 2.19434 9.56409 2.13752 9.8807C2.08111 10.1945 2.04299 10.4922 2.02407 10.7656C2.00547 11.033 1.99609 11.3112 1.99609 11.5923C1.99609 12.3231 2.22841 12.9148 2.68652 13.3511C3.13898 13.7817 3.73756 14 4.46567 14H11.2068C11.9347 14 12.5332 13.7817 12.9858 13.3511C13.444 12.9151 13.6763 12.3233 13.6763 11.5922C13.6762 11.3101 13.6667 11.0319 13.648 10.7653ZM12.4201 12.7567C12.1212 13.0412 11.7242 13.1796 11.2066 13.1796H4.46569C3.948 13.1796 3.55108 13.0412 3.25221 12.7568C2.95903 12.4777 2.81654 12.0967 2.81654 11.5923C2.81654 11.33 2.82518 11.071 2.84252 10.8223C2.85936 10.5784 2.89387 10.3104 2.94506 10.0256C2.99556 9.74439 3.05985 9.48047 3.13633 9.24154C3.20972 9.0124 3.30979 8.78556 3.43391 8.56703C3.55236 8.35872 3.68864 8.18003 3.83903 8.03607C3.97971 7.90137 4.15704 7.79115 4.36594 7.70849C4.55916 7.63198 4.77632 7.59012 5.01205 7.5838C5.04076 7.59911 5.09195 7.62826 5.17483 7.68229C5.34348 7.79222 5.53787 7.91761 5.75279 8.05485C5.99505 8.20932 6.30713 8.3488 6.68001 8.46916C7.06121 8.59243 7.45001 8.65502 7.83591 8.65502C8.22184 8.65502 8.61073 8.59243 8.99173 8.46927C9.36492 8.34869 9.67691 8.20932 9.9195 8.05463C10.1394 7.91409 10.3284 7.79232 10.497 7.68229C10.5799 7.62834 10.6311 7.59909 10.6598 7.58383C10.8956 7.59012 11.1128 7.63198 11.3061 7.70846C11.5149 7.79115 11.6923 7.90148 11.8329 8.03604C11.9833 8.17992 12.1196 8.35864 12.238 8.56713C12.3623 8.78556 12.4625 9.01254 12.5357 9.24143C12.6123 9.48069 12.6767 9.7445 12.7271 10.0255C12.7782 10.3108 12.8128 10.5789 12.8297 10.8224V10.8227C12.8471 11.0703 12.8558 11.3293 12.8559 11.5923C12.8558 12.0968 12.7133 12.4777 12.4202 12.7567H12.4201Z" />
                            </g>
                        </svg>
                        <span>LOGIN</span>
                        <strong></strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <header class="header-area style-1">
        <div class="container d-flex flex-nowrap align-items-center justify-content-center">

            <div class="main-menu">

                <ul class="menu-list">
                    <li class="menu-item active">
                        <a asp-controller="Home" asp-action="Index" class="drop-down">Home</a>
                    </li>
                    <li class="menu-item">
                        <a asp-controller="Home" asp-action="About" class="drop-down">About</a>

                    </li>
                    <li class="menu-item-has-children">
                        <a href="#" class="drop-down">Gallery</a>
                        <i class="bi bi-plus dropdown-icon"></i>
                        <ul class="sub-menu two">
                            <li><a asp-controller="Home" asp-action="Painting">Painting</a></li>
                            <li><a asp-controller="Home" asp-action="Sketch">Sketch</a></li>
                            <li><a asp-controller="Home" asp-action="DigitalArt">Digital Art</a></li>
                            <li><a asp-controller="Home" asp-action="Sculpture">Sculpture</a></li>
                        </ul>
                    </li>

                    <li class="menu-item">
                        <a asp-controller="Home" asp-action="Artists" class="drop-down">Artists</a>
                    </li>
                   @*  <li class="menu-item">
                        <a asp-controller="Home" asp-action="Sculpture" class="drop-down">Exhibitions</a>
                    </li> *@
                    <li>
                        <a asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>

                </ul>
                <div class="search-area d-lg-none d-block">
                    <form>
                        <div class="form-inner">
                            <input type="text" placeholder="Search your product">
                            <button type="submit">
                                <svg width="17" height="17" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.20349 0.448242C5.41514 0.45124 3.70089 1.16299 2.43633 2.42755C1.17178 3.6921 0.460029 5.40635 0.457031 7.1947C0.458526 8.98456 1.16943 10.7008 2.43399 11.9675C3.69855 13.2342 5.41364 13.948 7.20349 13.9525C8.79089 13.9525 10.2536 13.3941 11.4101 12.47L15.0578 16.1179C15.2002 16.2503 15.3882 16.3223 15.5825 16.3189C15.7768 16.3155 15.9622 16.2369 16.0998 16.0997C16.2374 15.9625 16.3165 15.7773 16.3204 15.583C16.3243 15.3887 16.2528 15.2005 16.1208 15.0578L12.4731 11.407C13.4325 10.2138 13.9556 8.72863 13.9556 7.19753C13.9556 3.47848 10.9225 0.448242 7.20349 0.448242ZM7.20349 1.9506C10.1118 1.9506 12.4533 4.28919 12.4533 7.1947C12.4533 10.1002 10.1118 12.453 7.20349 12.453C4.29514 12.453 1.95656 10.1087 1.95656 7.20037C1.95656 4.29202 4.29514 1.9506 7.20349 1.9506Z" />
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>

            </div>

            <div class="nav-right">
                <div class="dark-light-switch d-lg-none d-block">
                    <i class="bi bi-brightness-low-fill"></i>
                </div>
                <div class="sidebar-button mobile-menu-btn">
                    <span></span>
                </div>
            </div>
        </div>
    </header>
   
    <section id="cartSection" class="h-100 h-custom" style="display: none;" p-b="100px">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4">

                            <div class="row">

                                <div class="col-lg-7">
                                    <h5 class="mb-3">
                                        <a href="#!" class="text-body" >
                                            Continue shopping
                                        </a>
                                    </h5>
                                    <hr>

                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div>
                                            <p class="mb-1">Shopping cart</p>
                                            <p class="mb-0">You have 4 items in your cart</p>
                                        </div>
                                        <div>
                                            <p class="mb-0">
                                                <span class="text-muted">Sort by:</span> <a href="#!"
                                                                                            class="text-body">price <i class="fas fa-angle-down mt-1"></i></a>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
                                                             class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h5>Iphone 11 pro</h5>
                                                        <p class="small mb-0">256GB, Navy Blue</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row align-items-center">
                                                    <div style="width: 50px;">
                                                        <h5 class="fw-normal mb-0">2</h5>
                                                    </div>
                                                    <div style="width: 80px;">
                                                        <h5 class="mb-0">$900</h5>
                                                    </div>
                                                    <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img2.webp"
                                                             class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h5>Samsung galaxy Note 10 </h5>
                                                        <p class="small mb-0">256GB, Navy Blue</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row align-items-center">
                                                    <div style="width: 50px;">
                                                        <h5 class="fw-normal mb-0">2</h5>
                                                    </div>
                                                    <div style="width: 80px;">
                                                        <h5 class="mb-0">$900</h5>
                                                    </div>
                                                    <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img3.webp"
                                                             class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h5>Canon EOS M50</h5>
                                                        <p class="small mb-0">Onyx Black</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row align-items-center">
                                                    <div style="width: 50px;">
                                                        <h5 class="fw-normal mb-0">1</h5>
                                                    </div>
                                                    <div style="width: 80px;">
                                                        <h5 class="mb-0">$1199</h5>
                                                    </div>
                                                    <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card mb-3 mb-lg-0">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img4.webp"
                                                             class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h5>MacBook Pro</h5>
                                                        <p class="small mb-0">1TB, Graphite</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row align-items-center">
                                                    <div style="width: 50px;">
                                                        <h5 class="fw-normal mb-0">1</h5>
                                                    </div>
                                                    <div style="width: 80px;">
                                                        <h5 class="mb-0">$1799</h5>
                                                    </div>
                                                    <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-5">

                                    <div class="card bg-primary text-white rounded-3">
                                        <div class="card-body">
@*                                             <div class="d-flex justify-content-between align-items-center mb-4">
                                                <h5 class="mb-0">Card details</h5>
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                                                     class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                                            </div>

                                            <p class="small mb-2">Card type</p>
                                            <a href="#!" type="submit" class="text-white">
                                                <i class="fab fa-cc-mastercard fa-2x me-2"></i>
                                            </a>
                                            <a href="#!" type="submit" class="text-white">
                                                <i class="fab fa-cc-visa fa-2x me-2"></i>
                                            </a>
                                            <a href="#!" type="submit" class="text-white">
                                                <i class="fab fa-cc-amex fa-2x me-2"></i>
                                            </a>
                                            <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>

                                            <form class="mt-4">
                                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                                    <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                                           placeholder="Cardholder's Name" />
                                                    <label class="form-label" for="typeName">Cardholder's Name</label>
                                                </div>

                                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                                    <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                                                           placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
                                                    <label class="form-label" for="typeText">Card Number</label>
                                                </div>

                                                <div class="row mb-4">
                                                    <div class="col-md-6">
                                                        <div data-mdb-input-init class="form-outline form-white">
                                                            <input type="text" id="typeExp" class="form-control form-control-lg"
                                                                   placeholder="MM/YYYY" size="7" id="exp" minlength="7" maxlength="7" />
                                                            <label class="form-label" for="typeExp">Expiration</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div data-mdb-input-init class="form-outline form-white">
                                                            <input type="password" id="typeText" class="form-control form-control-lg"
                                                                   placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                                                            <label class="form-label" for="typeText">Cvv</label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </form> *@

                                            <hr class="my-4">

                                            <div class="d-flex justify-content-between">
                                                <p class="mb-2">Subtotal</p>
                                                <p class="mb-2">$4798.00</p>
                                            </div>

                                            <div class="d-flex justify-content-between">
                                                <p class="mb-2">Shipping</p>
                                                <p class="mb-2">$20.00</p>
                                            </div>

                                            <div class="d-flex justify-content-between mb-4">
                                                <p class="mb-2">Total(Incl. taxes)</p>
                                                <p class="mb-2">$4818.00</p>
                                            </div>

                                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-block btn-lg">
                                                <div class="d-flex justify-content-between">
                                                    <span>$4818.00</span>
                                                    <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                                </div>
                                            </button>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <!-- Header End -->
    @RenderBody()

    <!-- Home1 Footer Section Start -->
    <footer class="footer-section ">
        <div class="container ">
            <div class="footer-menu-wrap ">
                <div class="row gy-5">
                    <!-- Footer Logo & About -->
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="footer-content-area">
                            <a href="index-2.html" class="footer-logo">
                                <img src="~/user/assets/img/footer-logo.svg" alt="">
                            </a>
                            <p>
                                Artmart brings you exclusive access to the finest artworks from talented artists around
                                the world. Explore, discover, and collect your favorite pieces easily.
                            </p>
                        </div>
                    </div>

                    <!-- Menu Links -->
                    <div class="col-lg-2 col-md-3 col-sm-4 d-flex justify-content-lg-end justify-content-md-center justify-content-sm-end">
                        <div class="footer-widget">
                            <div class="widget-title">
                                <h5>Quick Links</h5>
                            </div>
                            <ul class="widget-list">
                                <li class="menu-item active">
                                    <a asp-controller="Home" asp-action="Index" class="drop-down">Home</a>
                                </li>
                                <li class="menu-item">
                                    <a asp-controller="Home" asp-action="About" class="drop-down">About</a>

                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#" class="drop-down">Gallery</a>
<i class="bi bi-chevron-down dropdown-icon" style="color: white !important; font-size: 12px; margin-left: 5px;"></i>                                    <ul class="sub-menu two">
                                        <li><a asp-controller="Home" asp-action="Painting">Painting</a></li>
                                        <li><a asp-controller="Home" asp-action="Sketch">Sketch</a></li>
                                        <li><a asp-controller="Home" asp-action="DigitalArt">Digital Art</a></li>
                                        <li><a asp-controller="Home" asp-action="Sculpture">Sculpture</a></li>
                                    </ul>
                                </li>

                                <li class="menu-item">
                                    <a asp-controller="Home" asp-action="Artists" class="drop-down">Artists</a>
                                </li>
                                <li class="menu-item">
                                    <a asp-controller="Home" asp-action="Sculpture" class="drop-down">Exhibitions</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Custom Section -->
                    <!-- Contact & Info -->
                    <div class="col-md-4 col-sm-7 d-flex justify-content-lg-end justify-content-md-center justify-content-sm-end">
                        <div class="newsletter-and-payment-area text-white
">
                            <h4>Contact Us</h4>
                            <p>Email: info@artmart.com</p>
                            <p>Phone: +92 300 1234567</p>
                            <p>Address: 123 Art Street, Lahore, Pakistan</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer Bottom -->
            <div class="footer-bottom d-flex flex-nowrap text-align justify-content-center align-items-center">
                <div class="copyright-area ">
                    <p>
                        ©Copyright 2024 <a href="index-2.html">Artmart</a> | Design By <a href="https://www.egenslab.com/">Syed Maaz</a>
                    </p>
                </div>

            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/user/assets/js/jquery-3.7.1.min.js"></script>
    <script src="~/user/assets/js/popper.min.js"></script>
    <script src="~/user/assets/js/bootstrap.min.js"></script>
    <script src="~/user/assets/js/swiper-bundle.min.js"></script>
    <script src="~/user/assets/js/slick.min.js"></script>
    <script src="~/user/assets/js/waypoints.min.js"></script>
    <script src="~/user/assets/js/jquery.counterup.min.js"></script>
    <script src="~/user/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/user/assets/js/jquery.fancybox.min.js"></script>
    <script src="~/user/assets/js/wow.min.js"></script>
    <script src="~/user/assets/js/jquery.marquee.min.js"></script>

    <script src="~/user/assets/js/main.js"></script>

    <script defer
            src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
            integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
            data-cf-beacon='{"version":"2024.11.0","token":"70834e4b23964a2eaf7cf4ec0e5e9a84","r":1,"server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}'
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("#topbar-cart").click(function () {
                $("#cartSection").toggle(1000); 
            });
        });
    </script>
</body>


<!-- Mirrored from demo.egenslab.com/html/artmart/preview/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 27 Dec 2025 15:05:14 GMT -->

</html>