        .login-wrapper {
            background: #fdfdfd; 
            padding: 100px 0;
            min-height: 100vh;
            display: flex;
            align-items: center;
        }
        .login-card {
            background: #ffffff;
            border-radius: 5px;
            box-shadow: 0 10px 50px rgba(0,0,0,0.05);
            padding: 50px;
            border-top: 4px solid grey;
            border: 2px solid #000;
        }
        .section-title {
            font-size: 32px;
            font-weight: 800;
            color: #111;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }
        .subtitle {
            color: #777;
            margin-bottom: 40px;
            font-size: 15px;
        }
        .form-label {
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
            color: #222;
            letter-spacing: 0.5px;
        }
        .form-control {
            border-radius: 0;
            padding: 15px;
            border: 1px solid #e0e0e0;
            font-size: 14px;
        }
        .form-control:focus {
            border-color: grey;
            box-shadow: none;
            background: #fffafa;
        }
        .btn-login {
            background: linear-gradient(45deg, #545757, #030303);
            color: #fff;
            border: none;
            padding: 18px;
            font-weight: 700;
            width: 100%;
            letter-spacing: 2px;
            border-radius: 25px;
            transition: 0.4s;
            margin-top: 10px;
        }
        .btn-login:hover {
            color: white;
            transform: translateY(-2px);
        }
        .forgot-pass {
            font-size: 13px;
            color: grey;
            text-decoration: none;
            transition: 0.3s;
        }
        .forgot-pass:hover {
            text-decoration: underline;
        }
        .yt{
            color: #000 !important;
        }